# Frontend (Next.js) - public client settings
NEXT_PUBLIC_SANITY_PROJECT_ID=6sdtxnoz
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2025-01-01

# Studio is configured separately under /studio/.env

